Repository trustyai-explainability/trustyai-service-operator, pull requests merged in 2023-09, with the labels that each got.

#106 Make sure CI is using service URLs
  tests/scripts/install.sh
Labels: ok-to-test, lgtm

#107 feat: Change `part-of` label to match ODH v2 component name
  config/base/kustomization.yaml
  controllers/constants.go
  controllers/monitor.go
  controllers/suite_test.go
  controllers/trustyaiservice_controller.go
Labels: kind/enhancement, ok-to-test, lgtm

#108 Update install.sh to use PR manifest uri
  tests/scripts/install.sh
Labels: ok-to-test, lgtm

#105 Add KServe support
  config/rbac/role.yaml
  controllers/inference_services.go
  controllers/suite_test.go
  controllers/trustyaiservice_controller.go
  controllers/utils.go
  go.mod
  go.sum
  main.go
  tests/crds/serving.kserve.io_inferenceservices.yaml
Labels: kind/enhancement, ok-to-test
