Repository trustyai-explainability/trustyai-service-operator, pull requests merged in 2024-02, with the labels that each got.

#197 RHOAIENG-2918: Remove /metrics from skip-auth
  controllers/templates/service/deployment.tmpl.yaml
Labels: kind/bug, ok-to-test, lgtm

#198 RHOAIENG-2940: Address CVE-2023-48795
  go.mod
  go.sum
Labels: ok-to-test, lgtm, dependencies

#200 RHOAIENG-2996: Change oauth-proxy image to Quay's for community releases
  config/base/params.env
Labels: kind/enhancement, ok-to-test, lgtm, dependencies

#203 Auto push manifests to CI branch
  .github/workflows/build-and-push.yaml
Labels: ok-to-test

#199 RHOAIENG-2775: Refactor operator's ServiceMonitors into templates
  controllers/monitor.go
  controllers/monitor_test.go
  controllers/templates/service/service-monitor-central.tmpl.yaml
  controllers/templates/service/service-monitor-local.tmpl.yaml
Labels: kind/enhancement, ok-to-test, lgtm

#206 RHOAIENG-3049: Refactor Service to template
  controllers/deployment_test.go
  controllers/services.go
  controllers/templates/service/service-internal.tmpl.yaml
  controllers/trustyaiservice_controller.go
Labels: kind/enhancement, ok-to-test

#207 RHOAIENG-3118: Replace route object with template
  .github/workflows/controller-tests.yaml
  controllers/route.go
  controllers/route_test.go
  controllers/statuses_test.go
  controllers/templates/service/route.tmpl.yaml
Labels: kind/enhancement, ok-to-test, lgtm

#208 Update CI tests for ODH V2 operator
  .github/workflows/build-and-push.yaml
  tests/scripts/install.sh
Labels: ok-to-test, lgtm

#210 Fix incorrect image path in bot comment
  .github/workflows/build-and-push.yaml
Labels: ok-to-test

#212 RHOAIENG-1483: Add ODH Trusted CA bundle support
  controllers/certificates.go
  controllers/config_maps.go
  controllers/deployment.go
  controllers/deployment_test.go
  controllers/oauth.go
  controllers/statuses_test.go
  controllers/suite_test.go
  controllers/templates/service/deployment.tmpl.yaml
  controllers/templates/service/service-tls.tmpl.yaml
  controllers/trustyaiservice_controller.go
Labels: kind/enhancement, ok-to-test, lgtm

#215 RHOAIENG-2419: Add version information to resources
  Makefile
  controllers/deployment.go
  controllers/deployment_test.go
  controllers/oauth.go
  controllers/service_accounts.go
  controllers/services.go
  controllers/templates/service/deployment.tmpl.yaml
  controllers/templates/service/service-internal.tmpl.yaml
  controllers/templates/service/service-tls.tmpl.yaml
  controllers/trustyaiservice_controller.go
  controllers/version.go
Labels: kind/enhancement, ok-to-test, lgtm

#217 Add coordination and leases permissions
  config/rbac/role.yaml
  controllers/trustyaiservice_controller.go
Labels: kind/bug, ok-to-test, lgtm

#220 Properly mount CA bundle ConfigMap into OAuth proxy
  config/base/params.env
  controllers/deployment_test.go
  controllers/templates/service/deployment.tmpl.yaml
  controllers/templates/service/service-tls.tmpl.yaml
Labels: kind/bug, ok-to-test, lgtm
